html,body {
	background: #f9fcff;
	font-family: 'Lucida Grande',sans-serif;
	min-height: 101%;
}

/* gen */
.b { font-weight: bold; }
.hide { display: none;}
.small { font-size: 11px; }
.gray { color: #888; }
.clear { clear: both; }
.padd5 { padding: 5px; }
.padd10 { padding: 10px; }
.center { text-align: center; }
.red { color: red; }
a { color:  #5d7e7b; }
a:hover { }

body.loading,
body.loading a,
body.loading a:hover {
	cursor: wait !important;
}

.defer-pic,
.defer {
	visibility: hidden;
	background-image: none !important;
}

/* payload */
#payload { display: none; }

/* title bubble */
#title-bubble { background: #333; color: #fff; padding: 5px; position: absolute; top: -99; left: -99; z-index: 99999999; max-width: 150px; text-align: center; opacity: .95; font-size: 85%; font-weight: bold; } 
#title-bubble span { position: absolute; display: block; background: url(http://assets.ms-cdn.com/static/moviestring/images/v1/point.gif) center center no-repeat; width: 100%; bottom: -4px; left: 0px; height: 5px; } 


#doc4 {
	width: 100%;
	min-height: 101%;
	margin: 0;
	background: url(http://ms-cdn.com/static/tangle/images/v3/gradient.png) repeat-x 0 0px;		
}

#bd {
	width: 974px;
	margin: 0 auto;
	padding: 20px;
	min-height: 80%;
}

#hd .strip {
	background: #85b5b0;
	position: relative;
	border-bottom: solid 1px #bcd9d6;
	color: #fff;
	padding: 5px 10px;
	font-size: 85%;
	font-family: Verdana;
}

	#strip em {
		font-weight: bold;
	}

		#strip a {
			color: #fff;
			text-decoration: none;
			padding: 0 5px;		
		}
		
		#strip a:hover {
			text-decoration: underline;
		}

		#strip div.right {
			position: absolute;
			right: 10px;
			top: 5px;
		}

	.strip span.bg {
		display: block;
		background: url(http://assets.ms-cdn.com/static/tangle/images/wrap-08.png);
		width: 100%;
		height: 20px;
		position: absolute;
		bottom: -20px;
		left: 0;
	}

	#strip .accounts-top img {
		width: 10px;
		height: 10px;
		background: url(http://ms-cdn.com/static/moviestring/images/v1/bullet_arrow_down.png) no-repeat center center;
		position: relative;
		top: -4px;
		opacity: .7;
		margin: 0 0 0 2px;
	}
	
	#strip .accounts-top {
		padding-right: 20px;
		font-size: 116%;
	}	

	#strip .accounts-top img.pic {
		width: 20px;
		height: 20px;
		border: solid 1px #eee;
		margin: 2px 1px;
		opacity: 1;
	}	

#hd .wrap {
	background: #8fc0bb;
}

#hd .cnt {
	width: 974px;
	margin: 0 auto;
	position: relative;
}

#hd h1 {
	padding: 20px 0;
}

#hd h1 a {
	display: block;
	background: url(http://ms-cdn.com/static/tangle/images/v3/tt-logo.png) no-repeat 0 0px;
	width: 300px;
	height: 90px;
	text-indent: -999em;
}

#hd .search {
	clear: both;
	border-top: solid 1px #fff;
	background: #bcd9d6 url(http://ms-cdn.com/static/tangle/images/v3/tt-bg.png) repeat-x;
	width: 100%;
}

	#hd .search fieldset {
		padding: 8px;
		position: relative;
	}

	#hd .search fieldset legend,
	#hd .search fieldset button { 
		display: none;
	}

	#hd .search fieldset input {
		background: #fff url(http://ms-cdn.com/static/tangle/images/v3/magnifier.png) no-repeat 10px 10px;
		border: solid 1px #8fc0bb;
		border-right: none;
		padding: 8px 8px 8px 35px;
		width: 70%;
		font-family: 'Lucida Grande',sans-serif;
		font-size: 116%;
		color: #222;
		position: relative;
		float: left;
	}
	
		#hd .search.loading fieldset input,
		#hd .search.open fieldset input {
			background-image: none;
		}
	
	#hd .search a.search-btn {
		display: block;
		position: absolute;
		left: 5px;
		top: 5px;
		background: url(http://ms-cdn.com/static/moviestring/images/v1/close.gif) no-repeat center center;
		width: 30px;
		height: 30px;
		display: none;
	}
		
		#hd .search.loading a.search-btn {
			display: block;
			background-image: url(http://assets.ms-cdn.com/static/moviestring/images/v1/arrow-loading.gif);
		}	

		#hd .search.open a.search-btn {
			display: block;
		}
	
	#hd .search a.saved {
		position: relative;
		float: left;
		display: block;
		width: 23%;
		background: #fff url(http://ms-cdn.com/static/moviestring/images/v1/bullet_arrow_down.png) no-repeat 98% 10px;
		border: solid 1px #8fc0bb;
		border-left: none;		
		line-height: 35px;
		height: 35px;
		color: #888;
		text-decoration: none;
		padding-right: 20px;
		
	}
	
		#hd .search a.saved em {
			position: relative;
			float: right;
			padding-right: 5px;
		}
	
	#hd .search a.saved span {
		display: none;
		position: relative;
		float: right;
		top: 8px;
		line-height: 18px;		
		padding: 1px 4px;
		color: #888;
		background: #eee;
		font-size: 85%;		
		margin-right: 5px;
	}	
	
	#hd .search div.saved {
		display: none;
		position: absolute;
		width: 200px;	
		right: 20px;
		top: 36px;
		background: #fff;
		border: solid 1px #8fc0bb;
		border-top: none;		
		z-index: 9999;
		-moz-border-radius-bottomleft: 5px;
		-moz-border-radius-bottomright: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
	}
	
		form.search div.saved ul {
			padding: 10px;	
		}
		
			form.search div.saved ul li a {
				display: block;
				padding: 5px;
				color: #333;
				text-decoration: none;
				position: relative;
			}

			form.search div.saved ul li a:hover {
				background: #eee;
			}

			form.search div.saved ul li a:hover b {
				background-image: none;
			}			
			
			form.search div.saved ul li a span {
				display: none;
				position: absolute;
				top: 5px;
				right: 5px;
				padding: 1px 4px;
				color: #333;
				background: #eee;
				font-size: 85%;
			}	
			
	form.search #search-result {
		width: 970px;
		padding: 20px 0;
		clear: both;
		display: none;
	}

	#search-result ul.timeline {
		clear: both;
	}

	#search-result ul.timeline li {
		padding: 0;
	}

			#search-result ul.timeline li.on {
				opacity: 1;
			}
	
	#search-result ul.timeline li .bd {
		min-height: 30px;
		background: #fff;
		font-size: 93%;
		color: #444;
	}

	#search-result ul.timeline li .ft {
		font-size: 10px;
	}
	
	#search-result em.title {
		display: block;
		font-size: 116%;
		color: #333;
		font-weight: bold;
		margin-bottom: 10px;
	}
	
	#search-result div.twitter {
		border: solid 1px #ccc;
		padding: 10px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;		
		min-height: 100px;
		background: #fff;
	}
	
		#search-result div.twitter em.title {
			font-size: 13px;
		}
		
		#search-result div.twitter ul.timeline li .bd {
			background: #eee;
		}

		#search-result div.twitter ul.timeline li .ft {
			height: 15px;
		}

		#search-result div.twitter ul.timeline li .ft span {
			display: none;
		}

		#search-result div.twitter ul.timeline li .ft span.usr {
			display: block;
		}
		

body.search #hd .search a.saved #saved,		
body.search #hd .search a.saved em {
	display: none;
}

body.search #hd .search a.saved {
	background-image: none;
	cursor: default;
}		
		

/* update */	
form.update {
	position: absolute;
	display: block;
	top: 25px;
	right: 10px;
	min-width: 450px;
	min-height: 50px;
}

	form.update div.user {
		position: relative;
		float: left;
		width: 100px;
		background: url(http://assets.ms-cdn.com/static/tangle/images/light-point.gif) no-repeat right 30px;
	}
	
		form.update div.user a {
			padding-top: 20px;
			display: block;
			position: relative;
			float: right;
			padding-right: 10px;
			text-decoration: none;
			color: #fff;
			font-size: 85%;
			font-weight: bold;
			text-align: right;
		}

	form.update fieldset {
		position: relative;
		float: left;
		display: block;
		background: #F9FCFF;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		padding: 10px;	
		min-height: 70px;	
	}
	
	form.update fieldset div#update-status-title {
		font-family: 'Lucida Grande',sans-serif;
		font-size: 93%;
		padding-left: 5px;
		color: #333;
		font-weight: bold;
		padding-bottom: 5px;
	}
	
	form.update fieldset div.current {
		min-height: 50px;
	}	

	form.update fieldset div.current,	
	form.update fieldset textarea {
		border: none;
		width: 350px;
		padding: 5px;
		font-family: 'Lucida Grande',sans-serif;
		color: #666;
		font-size: 93%;
		zoom: 1;
		position: relative;
		clear: both;
	}

		form.update fieldset div.current {
			padding: 0 5px;
		}
	
		form.update fieldset div.current a {
			color: #666;
		}
		
		form.update fieldset div.current a.view-pic {
			display: none;
		}
	
	form.update fieldset textarea {
		display: none;
		*margin-left: -40px;
	}
	
	form.update.write fieldset textarea {
		display: block;
		border: solid 1px #ccc;
		height: 45px;		
	}
	
	form.update.write fieldset div.current {
		display: none;
	}
	
	form.update a.update-status-btn {
		display: none;
		position: absolute;
		right: 25px;
		bottom: 0px;
		color: #333;
		font-weight: bold;
		font-family: 'Lucida Grande',sans-serif;		
		text-decoration: none;
	}

	form.update.write #update-status-chars,
	form.update.write a.update-status-btn {
		display: block;
	}
	
	form.update #update-status-chars {
		display: none;
		font-size: 116%;
		color: #555;
		padding: 5px 0 0 5px;
	}
	
	form.update a.clear-status {
		font-weight: normal;
		text-decoration: none;
	}

	form.update.write div.act {
		display: block;
	}
	
	form.update div.act {
		display: none;
		position: absolute;
		top: 0px;
		right: 25px;
		font-size: 85%;
		color: #888;
	}

		form.update div.act a {
			color: #888;
			text-decoration: none;
		}
	
	#update-status-o-tiny,
	#update-status-o-photo {
		display: none;
		position: absolute;
		width: 350px;
		height: 44px;
		background: #fff url(http://assets.ms-cdn.com/static/moviestring/images/v1/arrow-loading.gif) no-repeat center center;
		top: 51px;
		right: 16px;
		padding: 5px;				
	}

		#update-status-o-tiny form,
		#update-status-o-photo form {
			padding: 3px 0 0 5px;
			background: #fff;
		}

		#update-status-o-tiny form {
			padding: 0;
		}

		#update-status-o-tiny form div,
		#update-status-o-photo form div {
			font-size: 77%;
			color: #888;
			padding-top: 5px;
		}
		
			#update-status-o-tiny form div a,
			#update-status-o-photo form div a {	
				color: #888;				
			}

		#update-status-o-tiny form div {
			padding-top: 2px;
		}
	
	#update-status-o-tiny form textarea {
		width: 100%;
		height: 28px;
		border: solid 1px #888;
	}			

/* menu */
#hd ul.menu {

}

#hd ul.menu li {
	position: relative;
	float: left;
	height: 40px;	
	padding-right: 50px;
	margin-left: -48px;
	opacity: .85;
}
	
	body.chrome #hd ul.menu li {
		opacity: 1;
	}
	
	#hd ul.menu li.first {
		margin-left: 0;
	}

	#hd ul.menu li a {
		display: block;
		background: url(http://assets.ms-cdn.com/static/tangle/images/v2/tab.png) no-repeat;
		padding: 17px 5px 7px 30px;		
		font-weight: bold;
		text-decoration: none;
		color: #6d9390;
	}
	
	#hd ul.menu li b {
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		width: 50px;
		height: 100%;
		background: url(http://assets.ms-cdn.com/static/tangle/images/v2/tab.png) -350px 0 no-repeat;
	}
	
	#hd ul.menu li a:hover {
		color: #121212;
		text-decoration: none;
	}
	
	/* menu on */	
	body.home #hd ul.menu li.tab-home,
	body.home #hd ul.menu li.tab-home a,	
	body.index #hd ul.menu li.tab-home,
	body.index #hd ul.menu li.tab-home a,
	body.search #hd ul.menu li.tab-search,
	body.search #hd ul.menu li.tab-search a,
	body.networks #hd ul.menu li.tab-networks,
	body.networks #hd ul.menu li.tab-networks a,
	body.groups #hd ul.menu li.tab-groups,
	body.groups #hd ul.menu li.tab-groups a,
	body.friends #hd ul.menu li.tab-friends,
	body.friends #hd ul.menu li.tab-friends a {
		opacity: 1;		
		color: #121212;
		z-index: 30;
		font-size: 14px;
	}


/* footer */
#ft {
	text-align: center;
	padding: 20px 0;
	color: #444;
	font-size: 93%;
}

	#ft a {
		color: #444;
	}


/* moduel */
.module {
	border: solid 1px #ccc;
	background: #fff;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;			
}

	.module .hd {
		position: relative;
	}
	
	.module .hd h2 {		
		font-size: 131%;
		color: #333;
		padding: 10px 15px 5px;		
	}

	.module .hd ul.menu {
		position: absolute;
		right: 15px;
		top: 10px;
		text-align: right;
	}

		.module .hd ul.menu li a {
			font-size: 93%;
			color: #555;
		}

	.module .hd h3 {	
		font-size: 108%;
		color: #222;
		padding: 5px 10px;
	}
	
	.module .bd {
		padding: 10px;
	}
	
	.module .big {
		min-height: 600px;
	}


/* page wrap */ 
.wrap div.wrap-ft,
.wrap div.wrap-hd {
	position: relative;
	margin: 0 20px;
	height: 20px;
	background: url(http://assets.ms-cdn.com/static/tangle/images/v2/wrap-02.png) repeat-x;
}

	.wrap div.wrap-ft {
		background: url(http://assets.ms-cdn.com/static/tangle/images/v2/wrap-08.png) repeat-x;
	}
	
	.wrap div.wrap-ft b,	
	.wrap div.wrap-hd b {
		width: 20px;
		height: 20px;
		position: absolute;
		top: 0;
		left: -20px;
		background: url(http://assets.ms-cdn.com/static/tangle/images/v2/wrap-01.png) no-repeat;
	}
	
		.wrap div.wrap-ft b {
			background: url(http://assets.ms-cdn.com/static/tangle/images/v2/wrap-07.png) repeat-x;
		}	
	
		.wrap div.wrap-hd b.r {
			left: auto;
			right: -20px;
			background: url(http://assets.ms-cdn.com/static/tangle/images/v2/wrap-03.png) no-repeat;		
		}
		
		.wrap div.wrap-ft b.r {
			left: auto;
			right: -20px;
			background: url(http://assets.ms-cdn.com/static/tangle/images/v2/wrap-09.png) no-repeat;		
		}		

.wrap div.wrap-bd {
	background: url(http://assets.ms-cdn.com/static/tangle/images/v2/wrap-04.png) repeat-y;
	position: relative;
}

	.wrap div.wrap-bd div.cnt {
		background: #fff;
		margin: 0 20px;
		padding: 10px;
	}
	
	.wrap div.wrap-bd b.cnt {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		background: url(http://assets.ms-cdn.com/static/tangle/images/v2/wrap-06.png) repeat-y;
		width: 20px;
		height: 100%;
	}

.wrap-square div.wrap-hd {
	background-image: url(http://assets.ms-cdn.com/static/tangle/images/wrap-02.png); 
}

.wrap-square div.wrap-hd b.l {
	background-image: url(http://assets.ms-cdn.com/static/tangle/images/wrap-01.png); 
}

.wrap-square div.wrap-hd b.r {
	background-image: url(http://assets.ms-cdn.com/static/tangle/images/wrap-03.png); 
}

.wrap-square div.wrap-bd {
	background: url(http://assets.ms-cdn.com/static/tangle/images/wrap-04.png) no-repeat; 
}

.wrap-square div.wrap-bd b.cnt {
	background-image: url(http://assets.ms-cdn.com/static/tangle/images/wrap-06.png); 
}

.wrap-square div.wrap-ft {
	background-image: url(http://assets.ms-cdn.com/static/tangle/images/wrap-08.png); 
}

.wrap-square div.wrap-ft b.l {
	background-image: url(http://assets.ms-cdn.com/static/tangle/images/wrap-07.png); 
}

.wrap-square div.wrap-ft b.r {
	background-image: url(http://assets.ms-cdn.com/static/tangle/images/wrap-09.png); 
}


/* box */
.box {
	padding: 10px;
	background: #eee;
	position: relative;
	color: #333;
}

	.box a {
		color: #333;
	}

	.no-box-padd {
		padding: 0;
	}
	
	.side .box h3 {
		font-size: 108%;
		color: #121212;
		font-weight: bold;
		margin-bottom: 5px;
	}
	
	.side .box ul.list li {
		padding: 2px 5px;
	}

b.tl, b.bl, b.tr, b.br {
	display: block;
	width: 5px;
	height: 5px;
	position: absolute;
	top: 0;
	left: 0;
	background: url(http://assets.ms-cdn.com/static/moviestring/images/v2/round-gray.gif);
}

b.tr {
	left: auto;
	right: 0;
	background-position: 5px 0;
}

b.bl {
	top: auto;
	bottom: 0;
	background-position: 0 55px;
}

b.br {
	left: auto;
	top: auto;
	right: 0;
	bottom: 0;
	background-position: 5px 55px;
}	
	
	
/* timeline */	
ul.timeline li {
	clear:both;
	padding: 10px 0 0 10px;
	position: relative;
}	

	ul.timeline li .hd {
		float: left;
		width: 65px;
		background: url(http://assets.ms-cdn.com/static/tangle/images/light-point.gif) no-repeat center right;
	}

	ul.timeline li .hd a {
		display: block;
		overflow: hidden;
		width: 50px;
		height: 50px;
		font-size: 0px;
	}
	
		ul.timeline li .hd a.loading {
			background: url(http://assets.ms-cdn.com/static/moviestring/images/v1/arrow-loading.gif) no-repeat center center;
		}

				ul.timeline li .hd a.loading img {
					opacity: .1;				
				}
	
		ul.timeline li .hd img {
			width: 50px;
			height: 50px;
			background-repeat: no-repeat;
			cursor: pointer;
		}

	ul.timeline li .bd {
		background-color: #eee;
/* 		background-color: #dae8f1;	 */
		margin-left: 65px;
		padding: 10px 30px 10px 10px;
		color: #333;
		min-height: 50px;
		font-family: 'Lucida Grande',sans-serif;
	}
	
		ul.timeline li .bd a {
			color: #333;
			text-decoration: none;
		}
		
		ul.timeline li.on .hd {
			/* background-image: url(http://assets.ms-cdn.com/static/tangle/images/v2/blue-point.gif); */
		}
		
		ul.timeline li.on .bd {
/*
			background: #6B90C7;
			color: #ececed;
*/
		}
	
		ul.timeline li.on .bd a {
			text-decoration: underline;
/* 			color: #ececed;			 */
		}

		ul.timeline li.on .bd a.b:hover,		
		ul.timeline li.on .bd a.b {
			text-decoration: none;
		}
	
	ul.timeline li .ft {
		margin-left: 65px;
		font-size: 85%;
		padding: 5px;
		color: #888;
		visibility: hidden;
		position: relative;
		zoom: 1;
	}
	
		ul.timeline li .ft a {
			color: #888;
		}
		
		ul.timeline li .ft span.usr {
			position: absolute;
			right: 5px;
			top: 5px;
		}
		
	/* on */
	ul.timeline li.on .ft {
		visibility: visible;
	}
	
	ul.timeline li ul.acts {
		display: none;
	}
	
		ul.timeline li div.bd a.view-expand,
		ul.timeline li div.bd a.view-pic {
			color: #888;
			font-size: 10px;
		}

		ul.timeline li div.bd a.view-pic {
			font-size: 13px;
		}	
	
		ul.timeline li div.bd ul.acts {
			position: absolute;
			top: 20px;
			right: 20px;
		}

		ul.timeline li.on div.bd ul.acts,
		ul.timeline li:hover div.bd ul.acts {
			display: block;
		}

			ul.timeline li div.bd ul.acts li {
				clear: both;
				padding: 0;
				margin: 0 0 10px 0; 
				border: none;
				height: 16px;
				min-height: 16px;				
			}
		
			ul.timeline li div.bd ul.acts li a {
				display: block;
				padding: 0;
				margin: 0;
				width: 16px;
				height: 16px;
				text-indent: -999em;
				overflow: hidden;
				background: url(http://assets.ms-cdn.com/static/tangle/images/reply.png) no-repeat;
			}
	
			ul.timeline li div.bd ul.acts li a.do-fav {	
				background: url(http://assets.ms-cdn.com/static/tangle/images/star.png) no-repeat;
			}
			
				ul.timeline li div.bd ul.acts li a.do-fav.saving {				
					background: url(http://assets.ms-cdn.com/static/moviestring/images/v1/arrow-loading.gif) center center no-repeat;
				}

				ul.timeline li div.bd ul.acts li a.do-fav.done {
					background: url(http://assets.ms-cdn.com/static/moviestring/images/v1/star.png) no-repeat;				
				}	

	
	/* nopoc */
	ul.timeline-no-pic li .hd {
		display: none;
	}

		ul.timeline-no-pic li {
			padding-left: 0;
		}
	
		ul.timeline-no-pic li .bd,
		ul.timeline-no-pic li .ft {
			margin-left: 0;
		}	

/* user panel */
#user-panel {
	display: block;
	position: absolute;
	top: -9999em;
	left: -999em;
	zoom: 1;
	overflow: visible;
	background: transparent;
}

#user-panel.loading #user-panel-content {
	background: #fff url(http://ms-cdn.com/static/moviestring/images/v1/arrow-loading.gif) center center no-repeat;
}

#user-panel .wrap-hd {
	background-image: url(http://assets.ms-cdn.com/static/tangle/images/wrap-02.png); 
}

#user-panel .wrap-hd b.l {
	background-image: url(http://assets.ms-cdn.com/static/tangle/images/wrap-01.png); 
}

#user-panel .wrap-hd b.r {
	background-image: url(http://assets.ms-cdn.com/static/tangle/images/wrap-03.png); 
}

#user-panel .wrap-bd {
	background: url(http://assets.ms-cdn.com/static/tangle/images/wrap-04.png) no-repeat; 
}

#user-panel .wrap-bd b.cnt {
	background-image: url(http://assets.ms-cdn.com/static/tangle/images/wrap-06.png); 
}

#user-panel .wrap-ft {
	background-image: url(http://assets.ms-cdn.com/static/tangle/images/wrap-08.png); 
}

#user-panel .wrap-ft b.l {
	background-image: url(http://assets.ms-cdn.com/static/tangle/images/wrap-07.png); 
}

#user-panel .wrap-ft b.r {
	background-image: url(http://assets.ms-cdn.com/static/tangle/images/wrap-09.png); 
}

#user-panel #user-panel-content {
	padding: 0 0 0px 0;
	zoom: 1;	
}

	#user-panel #user-panel-content img.img {
		float: left;
		margin: 10px;
		background-repeat: no-repeat;
	}

	#user-panel #user-panel-content div.yui-gb {
		clear: both;
		padding-bottom: 10px;
	}

	#user-panel #user-panel-content h3 {
		font-weight: bold;
		font-size: 167%;
		background: #eee;
		padding: 5px;
		color: #333;
	}

	#user-panel #user-panel-content h4 {
		background: #eee;
		padding: 3px 5px;
		font-weight: bold;
		color: #333;
		margin-bottom: 5px;
	}

	#user-panel #user-panel-content .yui-gb {
		margin: 0 10px;
	}

	#user-panel #user-panel-content ul li {
		padding: 3px;
	}

	#user-panel #user-panel-content .yui-h-slider {
		width: 100px;
		margin: 5px 0 5px 25px;
		outline: none;
	}
	
	#user-panel #user-panel-content form {
		position: relative;
		display: block;
		zoom: 1;
		clear: both;
	}	

	#user-panel #user-panel-content button {
		display: block;
		position: absolute;
		top: -60px;
		right: 20px;
		zoom: 1;
		*margin: 1px;
		cursor: pointer;
	}

	#user-panel #user-panel-content input {
		width: 30px;
		text-align: center;
		margin-left: 55px;
	}

	#user-panel #user-panel-content ul li input {
		margin: 0;
	}

	.userpanel-overlay  textarea,
	#user-panel #user-panel-content textarea {
		padding: 5px;
		width: 90%;
	}

	.userpanel-overlay .rate-header,
	#user-panel #user-panel-content .rate-header {
		position: relative;
		font-size: 93%;
		padding: 5px;
	}

		.userpanel-overlay .rate-header b,
		#user-panel #user-panel-content .rate-header b {
			position: absolute;
			top: 0;
			left: 0;
			font-weight: normal;
		}

		.userpanel-overlay .rate-header em,
		#user-panel #user-panel-content .rate-header em {
			position: absolute;
			top: 0;
			right: 0;
		}

.userpanel-overlay {
	width: 550px;
}

	.userpanel-overlay .yui-u {
		width: 57%;
		margin-left: 20px;
	}
	
	.userpanel-overlay .first {
		width: 40%;
		margin-left: 0;
	}

.userpanel-overlay img {
	position: relative;
	float: left;
	margin-right: 10px;
}

.userpanel-overlay h3 {
	font-size: 116%;
}

.userpanel-overlay h3 em {
	font-size: 11px;
	color: #888;
}

	.userpanel-overlay .first ul.user-stats {
		margin: 20px 0 10px; 
		color: #777;
	}

	.userpanel-overlay .first ul.user-stats li {
		padding: 2px 0;
		font-size: 108%;
	}

	.userpanel-overlay .first ul.user-stats li em {
		font-weight: bold;
	}

	.userpanel-overlay ul.user-info {
		font-size: 93%;
	}

	.userpanel-overlay ul.user-info li { 
		padding: 5px 0;
		color: #777;
	}

	.userpanel-overlay ul.user-info li em { 
		font-weight: bold;
		display: block;
		color: #444;
	}

	.userpanel-overlay .first h4 {
		margin-top: 15px;
		font-weight: bold;
	}

	.userpanel-overlay form h4 {
		font-weight: bold;
		font-size: 116%;
		margin: 10px 0 5px;
		border-bottom: solid 1px #eee;
		padding: 3px;		
	}

	.userpanel-overlay .rate-header {
		margin: 5px 30px;
	}
	
	.userpanel-overlay #slider-bg-new {
		margin-left: 40px;
		outline: none;
	}

	.userpanel-overlay input {
		width: 100%;
		border: none;
		text-align: center;
	}

	.userpanel-overlay ul.groups {
		margin: 5px 10px 5px;
	}

	.userpanel-overlay ul.groups li {
		width: 45%;
		position: relative;
		float: left;
		padding: 3px;
	}

	.userpanel-overlay button {		
		margin: 30px 40% 5px;
		border: solid 1px #ccc;
		background: #eee;
		text-align: center;
		padding: 5px 20px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		cursor: pointer;
		font-weight: bold;
	}

/* accounts */
#accounts {
	display: none;
	position: absolute;
	top: 30px;
	right: 10px;
	text-align: left;
	width: 250px;
}

	#accounts div.wrap-bd div.cnt {
		padding: 5px 0 0 0;
	}
	
	#accounts h4 {
		font-size: 93%;
		font-weight: bold;
		color: #555;
	}
	
	#accounts div.box {
		padding: 5px;
	}
	
	#account-add-err {
		color: red;
		padding: 5px;
		font-size: 93%;
	}
	
	#accounts h3 {
		font-size: 85%;
		color: #555;
		font-weight: bold;
	}
	
	#accounts form {
		margin: 5px 0 0 0; 
	}	
	
	#accounts form ul li input[type='text'],
	#accounts form ul li input[type='password'] {
		border: inset 1px #ccc;
		padding: 3px;
		display: block;
		width: 98%;
		margin-top: 3px;
	}

	#accounts form ul li {
		padding: 5px;
		font-size: 77%;
		font-weight: bold;
		font-family: Verdana;
		color: #888;
		position: relative;
	}
	
	#accounts form ul li button {
		position: relative;
		float: right;
		cursor: pointer;		
	}

	#accounts ul.accounts {
		margin-bottom: 15px;
		margin-top: 5px;		
	}
	
	#accounts ul.accounts li {
		padding: 5px 10px;
		clear: both;		
	}

	#accounts ul.accounts li img {
		position: relative;
		float: left;
		border: solid 1px #eee;
		margin-right: 5px;
		width:20;
		height: 20px;
	}
	
		#accounts ul.accounts li.on img {
			height: 28px;
			width: 28px;
		}

	
	#accounts ul.accounts li.on {
/* 		background-image: url(http://ms-cdn.com/static/moviestring/images/v1/accept.png); */
		background-repeat: no-repeat;
		background-position: 180px center;
	}	

	#accounts ul.accounts li a {
		display: block;
		font-weight: bold;
		text-decoration: none;
		line-height: 12px;
		padding-top: 5px;
	}
	
		#accounts ul.accounts li a:hover {
			text-decoration: underline;		
		}	
	
		#accounts ul.accounts li.on a {
			padding-top: 2px;
		}

	#accounts ul.accounts li.on div {
		display: block;
	}

	#accounts ul.accounts li div {
		display: none;	
	}	
	#accounts ul.accounts li div a {	
		color: #888;
		font-weight: normal;
		font-family: Verdana;
		font-size: 10px;
	}



/* side-menu */
ul.side-menu li {
	padding: 5px 10px;
}

	ul.side-menu li a {
		color: #555;
		text-decoration: none;
		font-weight: bold;
		cursor: default;
	}

	ul.side-menu li ul li {
		padding: 3px 10px;
		position: relative;
	}

	ul.side-menu li ul {
		padding: 5px 0;
	}

	ul.side-menu li ul li a {
		display: block;
		font-size: 93%;
		color: #5d7e7b;
		font-weight: normal;
		cursor: pointer;
	}

	ul.side-menu li ul li.on a {
		font-weight: bold;
		color: #333;
	}
	
	ul.side-menu li ul li a:hover {
		color: #333;
		text-decoration: underline;
	}
		
	/* special menus */
	ul.side-menu li.on ul li a.delete {
		position: absolute;
		width: 15px;
		height: 20px;
		top: 3px;
		right: 5px;
		overflow: hidden;
		background: url(http://ms-cdn.com/static/moviestring/images/v1/close.gif) center center no-repeat;		
		text-indent: -999em;
		padding: 0px;
	}		
		
/* pager */
ul.pager {
	float: right;
}

ul.pager li {
	position: relative;
	float: left;
	margin: 3px;
}

	ul.pager li.h {
		padding-top: 2px;
		color: #555;
	}

	ul.pager li a {
		display: block;
		padding: 2px 8px;
		border: solid 1px #eee;
		color: #333;
		text-decoration: none;
	}		


/* user-list */
ul.user-list li {
	position: relative;
	float: left;
	margin: 3px;
	padding: 0;
	width: 48px;
	height: 48px;
}

	ul.user-list li a,
	ul.user-list li img {
		display: block;
		width: 100%;
		height: 100%;
	}
	
	ul.user-list li a {
	
	}

/* mini-users */
ul.mini-users li {
	position: relative;
	float: left;
	margin: 3px;
	padding: 0;
	width: 24px;
	height: 24px;
}

	ul.mini-users li a,
	ul.mini-users li img {
		display: block;
		width: 100%;
		height: 100%;
	}
	
	ul.mini-users li a {
		
	}


#panel-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
	background: #fff;
	opacity: 0;
}

.panel-wrap {
	z-index: 999999;
	position: absolute;
	top: 10px;
	left: 10px;
}

.panel-wrap .panel-hd a.panel-close {
	display: block;
	position: absolute;
	top: -0px;
	right: -20px;
	width: 30px;
	height: 30px;
	background: url(http://ms-cdn.com/static/tangle/images/v3/close.png) no-repeat;
	text-indent: -999em;
	z-index: 999;
	outline: none;
}

.panel-wrap div.panel-ft,
.panel-wrap div.panel-hd {
	position: relative;
	margin: 0 20px;
	height: 20px;
	background: url(http://assets.ms-cdn.com/static/tangle/images/v2/wrap-02.png) repeat-x;
}

	.panel-wrap div.panel-ft {
		background: url(http://assets.ms-cdn.com/static/tangle/images/v2/wrap-08.png) repeat-x;
	}
	
	.panel-wrap div.panel-ft b,	
	.panel-wrap div.panel-hd b {
		width: 20px;
		height: 20px;
		position: absolute;
		top: 0;
		left: -20px;
		background: url(http://assets.ms-cdn.com/static/tangle/images/v2/wrap-01.png) no-repeat;
	}
	
		.panel-wrap div.panel-ft b {
			background: url(http://assets.ms-cdn.com/static/tangle/images/v2/wrap-07.png) repeat-x;
		}	
	
		.panel-wrap div.panel-hd b.r {
			left: auto;
			right: -20px;
			background: url(http://assets.ms-cdn.com/static/tangle/images/v2/wrap-03.png) no-repeat;		
		}
		
		.panel-wrap div.panel-ft b.r {
			left: auto;
			right: -20px;
			background: url(http://assets.ms-cdn.com/static/tangle/images/v2/wrap-09.png) no-repeat;		
		}		

.panel-wrap div.panel-bd {
	background: url(http://assets.ms-cdn.com/static/tangle/images/v2/wrap-04.png) repeat-y;
	position: relative;
}

	.panel-wrap div.panel-bd div.cnt {
		background: #fff;
		margin: 0 20px;
		padding: 10px;
		min-width: 300px;
		min-height: 300px;
	}
	
	.panel-wrap div.panel-bd b.cnt {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		background: url(http://assets.ms-cdn.com/static/tangle/images/v2/wrap-06.png) repeat-y;
		width: 20px;
		height: 100%;
	}
	
.panel-wrap div.panel-bd div.cnt:after,
.panel-wrap:after {
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;	
font-size: 0px;
}

	

/* search page */
.searh-page-box {
	margin-bottom: 20px;
}
	
	.searh-page-box input {
		padding: 5px;
		font-size: 108%;
		font-family: 'Lucida Grande',sans-serif;
		border: solid 1px #ccc;
		width: 98%;	
	}
	

body.search ul.ops {
}
	
	body.search ul.ops li {
		padding: 5px;
	}
	
	body.search ul.ops li h3 { 
		font-size: 131%;
		color: #333;
		margin-left: -5px;
	}
	
	body.search ul.ops li em {
		font-weight: bold;
		color: #444;
	}
	
	body.search ul.ops li div {
		font-size: 93%;
		color: #888;
	}			

body.search div.no-query {
	text-align: center;
	padding: 100px;
	color: #888;
}



/* networks */
body.networks ul.categories li {
	position: relative;
	float: left;
	width: 48%;
	height: 50px;
	padding-left: 10px;
}
	
	body.networks ul.categories li a {
		font-size: 108%;
		font-family: 'Lucida Grande',sans-serif;
		font-weight: bold;
		color: #333;
		text-decoration: none;
	}
	
	body.networks ul.categories li div a {
		font-size: 10px;
		font-weight: normal;
		color: #555;
	}

	body.networks ul.networks {
		margin: 20px 5px;
	}
	
		body.networks ul.networks li {
			clear: both;
			padding: 10px 100px 10px 3px;
			border-bottom: solid 1px #eee;
			position: relative;
		}

		body.networks ul.networks li a.join {
			position: absolute;
			right: 5px;
			top: 20px;
			font-size: 116%;
			color: #333;
			text-decoration: none;
		}

		body.networks ul.networks li h4 { 
			font-size: 108%;
			font-weight: bold;
		}

			body.networks ul.networks li h4 a {
				color: #333;
				text-decoration: none;
			}
		
		body.networks ul.networks li div { 
			color: #555;
		}
		
/* import */
div.timeline-loading,
body.friends div.import-loading {
	text-align: center;
	background: url(http://assets.ms-cdn.com/static/tangle/images/v2/ajax-loader.gif) center 70px no-repeat;
	padding: 100px 130px 0;
	margin-top: 30px;
}

	div.timeline-loading em,
	body.friends div.import-loading em {
		display: block;
		font-size: 108%;
		color: #333;
		font-weight: bold;
	}

	div.timeline-loading div,
	body.friends div.import-loading div {
		padding: 5px;
		color: #888;
	}


body.groups #page-content {
	background: #fff url(http://ms-cdn.com/static/moviestring/images/v1/arrow-loading.gif) no-repeat center center;	
}

body.friends ul.alpha {
	margin: 20px 3px 10px;
	background: #eee;
	padding: 0 5px;
}

body.friends ul.alpha li {
	position: relative;
	float: left;
}

	body.friends ul.alpha li a {
		display: block;
		color: #333;
		padding: 5px;
		text-decoration: none;		
	}

	body.friends ul.alpha li a:hover {
		background: #fff;
	}

body.friends #user-panel-holder {
	background: url(http://ms-cdn.com/static/moviestring/images/v1/arrow-loading.gif) no-repeat center center;	
	height: 220px;
}

body.friends #user-panel {
	width: 600px;
	min-height: 175px;
}

	body.friends #user-panel #user-panel-content {
		min-height: 175px;
	}

body.friends .user-list-wrap {
	clear: both;
	*margin-top: 10px;
}

body.friends ul.user-list {
	margin: 40px 0 0 0px;
	*margin-top:10px;
}

	body.friends ul.user-list li {
		border: solid 1px #fff;
	}

	body.friends ul.user-list li.on {
		border: solid 1px #000;
		background-color: #000;
		opacity: .3;
	}	

body.friends .friends-wrap {
	margin: 0 20px;
}

body.friends ul.pager {
	margin-right: 0px;
	height: 30px;
}

body.friends .side form {
	position: relative;
	height: 50px;
}

body.friends .side form input {
	border: solid 1px #ccc;
	width: 200px;
	padding: 5px;
}

body.friends .side p {
	color: #333;
	padding: 5px;
	font-size: 93%;
	font-family: 'Lucida Grande',sans-serif;
	line-height: 140%;	
}


/* index */
body.index a.login-btn {
	display: block;
	background: #eee url(http://ms-cdn.com/static/moviestring/images/v1/twitter.png) no-repeat 25% center;
	border: solid 1px #ccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 10px 10px 10px 10px;
	font-weight: bold;
	color: 116%;
	text-decoration: none;
	margin: 5px 20px 5px;
	color: #333;
	text-align: center;
}

	body.index a.login-btn:hover {
		background-color: #fff;
	}

body.index #bd .top .second {
	width: 40%;
}

body.index #bd .yui-u .module {
	height: 250px;
}

body.index #bd .top .first {
	width: 58%;
}

body.index form.auth-login {
	margin-top: 15px;
}

body.index form.auth-login ul li {
	padding: 4px;
}

body.index form.auth-login ul li input {
	border: solid 1px #ccc;
	padding: 3px;
	font-size: 12px;
	width: 70%;
}

body.index #bd h2 {
	font-size: 17px;
	color: #121212;
}

body.index #bd .first p {
	color: #333;
	font-size: 93%;
	line-height: 150%;
}

body.index .first {
	font-family: 'Lucida Grande',sans-serif;
}

body.index #page-content h3 {
	font-size: 116%;
	color: #333;
	font-weight: bold;
}


	body.index #page-content h3 a {
		color: #333;
		font-weight: bold;
		text-decoration: none;
	}

body.index .side .side-menu {
	margin-bottom: 20px;
}
	
body.index .side h3 {
	color: #333;
	border-bottom: solid 1px #ccc;
	padding-bottom: 5px;
	margin-top: 20px;	
}	

body.index .side #sugg-networks ul.networks li {
	width: 45%;
	padding: 3px;
	position: relative;
	float: left;
}

	body.index .side #sugg-networks ul.networks li a {
		text-decoration: none;
		color: #555;
	}
	
body.index .side .box {
	padding-bottom: 15px;
}
	
/* user */
body.user ul.user-info {
	padding: 10px;
	color: #555;	
}

	body.user ul.user-info li {
		padding: 3px 0 3px 10px;
	}

	body.user ul.user-info li em {
		font-weight: bold;
		color: #333;
	}

body.user ul.user-stats li {
	width: 33%;
	position: relative;
	float: left;
	color: #333;
	font-family: 'Lucida Grande',sans-serif;	
	font-size: 11px;
	text-align: center;
	padding-bottom: 10px;
}

	body.user ul.user-stats li em {
		display: block;
		font-size: 17px;
		font-weight: bold;
	}

body.user h2 {	
	margin-bottom: 20px;
}

body.user ul.timeline li {
	margin-left: 0;
}

body.user h2 img.user-panel {
	padding-right: 10px;
}

	body.user h2 div {
		color: #333;
		font-size: 13px;
	}
	
body.terms #bd p {
	padding: 10px 0;
}


body.terms #bd ol li,
body.terms #bd ul li {
	padding: 5px;
}

/* dm */
div.dm h2 {
	padding: 0 0 5px 5px;
	color: #333;
	position: relative;
	float: left;
}

div.dm h2 .yui-ac-input,
div.dm h2 input {
	position: relative;
	border: solid 1px #ccc;
	width: 150px;
	color: #333;
	padding: 5px;
	font-size: 93%;
}

div.dm h2 #dm-results {
	width: 150px;
	right: 0;
	font-size: 13px;
	font-weight: normal;
}


div.dm textarea {
	width: 98%;
	padding: 5px;
	border: solid 1px #ccc;
	margin: 5px 0 35px;
	height: 50px;
}

div.dm .count {
	position: absolute;
	bottom: 10px;
	left: 15px;
	font-size: 200%;
}

div.dm button {
	position: absolute;
	right: 15px;
	bottom: 10px;
}


/* home */
body.home #trending h3 {
	margin: 0;
	background: #eee;
	font-size: 13px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
}

	body.home #trending ul {
		padding: 2px 5px 10px;
	}
	
	body.home #trending ul li {
		padding: 2px;
	}

	body.home #trending ul li a {
		text-decoration: none;
		color: #444;
		font-size: 93%;
	}

	body.home #trending ul li a:hover {
		text-decoration: underline;
	}

form.update fieldset:after,
#hd ul.menu:after,	
.module:after, .module .hd:after, .module .bd:after,
ul.timeline li .ft:after,
ul.user-list:after, 
body.user h2:after,
.box:after,
#user-panel-content:after,
#user-panel:after,
ul.pager:after,
body.friends ul.alpha:after,
ul.mini-users:after,
.cf:after,
form.update:after,
form.search:after,
#doc:after, #hd:after, #bd:after, #ft:after,	
.wrap div.wrap-bd:after,
.wrap div.wrap-bd div.cnt:after,	
#hd	.search:after { content:".";display:block;height:0;clear:both;visibility:hidden; font-size:0px; overflow: hidden} 		